<div id="grid" class="col-{{ settings.grid_col_num }}">
	<div class="column"></div>
</div>


<koken:loop>

		<div class="item content thumbnail">

		<koken:link title="View {{ content.title | content.filename }}">
			<koken:if data="settings.content_index_crop" equals="uniform">
				<koken:img size="{{ settings.contents_crop_size }}" lazy="true" />
			</koken:if>
			<koken:if data="settings.content_index_crop" equals="proportional">
				<koken:img lazy="true" />
			</koken:if>
		</koken:link>



		<koken:if true="settings.content_index_show_title">
			<div class="caption">
				<h3><koken:link title="View {{ content.title | content.filename }}">{{ content.title | content.filename }}</koken:link></h3>
				<koken:if true="settings.content_index_show_caption">
					<p>{{ content.caption }}</p>
				</koken:if>
			</div>
		</koken:if>


	</div>

</koken:loop>
